<div style="margin-top:20px">
    <h4>Student Profile</h4>

    <div class="row justify-content-center">
        <div class="col-md-7">
            <hr />
            <table class="table table-striped" align="center">
                <tbody class="text-left">
                    <tr>
                        <td>
                            <b>First Name</b>: {{ student?.firstName }}</td>
                        <td style="padding-left: 40px">
                            <b>Last Name</b>: {{ student?.lastName }}</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Address</b>: {{ student?.address }}</td>
                        <td style="padding-left: 40px">
                            <b>City</b>: {{ student?.city }}</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Phone Number</b>: {{ student?.phoneNumber }}</td>
                        <td style="padding-left: 40px">
                            <b>Email</b>: {{ student?.email }}</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Student Number</b>: {{ student?.studentNumber }}</td>
                        <td style="padding-left: 40px">
                            <b>Program</b>: {{ student?.program }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 3vh;">
        <div class="col-md" *ngIf="isMyProfile">
            <a [routerLink]="['/students/update']" [queryParams]="{id: this.studentId} " class="btn btn-outline-warning pull-right">Update Profile</a>
        </div>
        <div class="col-md">
            <a routerLink='/students' class="btn btn-outline-info" [ngClass]="{'pull-left':isMyProfile}">Return to List</a>
        </div>
    </div>
</div>