<h1>New Student</h1>
<form (ngSubmit)="create()">
  <!-- Student Number -->
  <div class="form-group row">
    <div class="col-4 text-right">
      <label>Student Number:</label>
    </div>
    <div class="col-md-5">
      <input type="number" class="form-control" required [(ngModel)]="student.studentNumber" name="studentNumber">
    </div>
  </div>

  <!-- Password -->
  <div class="form-group row">
    <div class="col-4 text-right">
      <label>Password:</label>
    </div>
    <div class="col-md-5">
      <input type="password" class="form-control" placeholder="{{student.password}}" required [(ngModel)]="student.password" name="password"
      />
    </div>
  </div>

  <!-- First Name -->
  <div class="form-group row">
    <div class="col-4 text-right">
      <label>First Name:</label>
    </div>
    <div class="col-md-5">
      <input type="text" class="form-control" required [(ngModel)]="student.firstName" name="firstName" />
    </div>
  </div>

  <!-- Last Name -->
  <div class="form-group row">
    <div class="col-4 text-right">
      <label>Last Name:</label>
    </div>
    <div class="col-md-5">
      <input type="text" class="form-control" required [(ngModel)]="student.lastName" name="lastName" />
    </div>
  </div>

  <!-- Address -->
  <div class="form-group row">
    <div class="col-4 text-right">
      <label>Address:</label>
    </div>
    <div class="col-md-5">
      <input type="text" class="form-control" required [(ngModel)]="student.address" name="address" />
    </div>
  </div>

  <!-- City -->
  <div class="form-group row">
    <div class="col-4 text-right">
      <label>City:</label>
    </div>
    <div class="col-md-5">
      <input type="text" class="form-control" required [(ngModel)]="student.city" name="city" />
    </div>
  </div>

  <!-- Phone Number -->
  <div class="form-group row">
    <div class="col-4 text-right">
      <label>Phone Number:</label>
    </div>
    <div class="col-md-5">
      <input type="text" class="form-control" required [(ngModel)]="student.phoneNumber" name="phoneNumber" />
    </div>
  </div>

  <!-- Email -->
  <div class="form-group row">
    <div class="col-4 text-right">
      <label>Email:</label>
    </div>
    <div class="col-md-5">
      <input type="email" class="form-control" required [(ngModel)]="student.email" name="email" />
    </div>
  </div>

  <!-- Program -->
  <div class="form-group row">
    <div class="col-4 text-right">
      <label>Program of Study:</label>
    </div>
    <div class="col-md-5">
      <input type="text" class="form-control" required [(ngModel)]="student.program" name="program">
    </div>
  </div>

  <!-- Buttons -->
  <button type="submit" class="btn btn-outline-success">
    <i class="fa fa-check-square-o"></i> Create</button>
  <a href="/stu" class="btn btn-outline-warning">
    <i class="fa fa-undo"> Cancel</i>
  </a>

</form>