<div style="padding-top:25px; padding-bottom:45px" >
    <a [routerLink]="['create']" class="btn btn-success pull-left ">Create Course</a>
</div>

<div style="margin-top:15px">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Course Code</th>
          <th scope="col">Course Name</th>
          <th scope="col">Section</th>
          <th scope="col">Semester</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let c of course">
          <th scope="row">{{ c.courseCode }}</th>
          <td>{{ c.courseName }}</td>
          <td>{{ c.section }}</td>
          <td>{{ c.semester }}</td>
          <td>
            <div class="pull-right">
                <a [routerLink]="[]" class="btn btn-success" style="background-color:white;color:green;">Edit</a>
                <a (click)="deleteCourse(c.courseCode)" class="btn btn-danger" style="background-color:white;color:red; ">Delete</a>
                <a [routerLink]="['coursedetails']" [queryParams]="{id: c._id}" class="btn btn-primary" style="background-color:white;color:blue;">Details</a>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  