<div style="padding-top:25px; padding-bottom:45px" *ngIf='this._authService.isAdmin()'>
  <a [routerLink]="['create']" class="btn btn-outline-success" [ngClass]="{'pull-left': student.length}">Create New Student</a>
</div>

<div *ngIf="!student.length">
  <p>
    There are currently no students enrolled at Centennial College.
    <br> Please feel free to register a new student by clicking the button above :) !
  </p>
</div>

<div style="margin-top:15px" *ngIf="student.length>0">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Student #</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Program</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stud of student">
        <th scope="row">{{ stud.studentNumber }}</th>
        <td>{{ stud.firstName }}</td>
        <td>{{ stud.lastName }}</td>
        <td>{{ stud.program }}</td>
        <td>
          <!-- <a [routerLink]="['register']" [queryParams]="{id: stud._id}" class="btn btn-success" style="background-color:white;color:green;" -->
          <a [routerLink]="['details']" [queryParams]="{id: stud._id}" class="btn btn-outline-primary" [ngClass]="{'pull-left':this._authService.isAdmin()}">View Profile</a>
          <a (click)="delete(stud._id, stud.studentNumber)" class="btn btn-outline-danger" *ngIf='this._authService.isAdmin()'>Delete Student</a>

        </td>
      </tr>
    </tbody>
  </table>
</div>