<div style="padding-top:25px; padding-bottom:45px" *ngIf='this._authService.isAdmin()'>
  <a [routerLink]="['create']" class="btn btn-success pull-left ">Create New Student</a>
</div>

<div style="margin-top:15px">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Student #</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Program</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stud of student">
        <th scope="row">{{ stud.studentNumber }}</th>
        <td>{{ stud.firstName }}</td>
        <td>{{ stud.lastName }}</td>
        <td>{{ stud.program }}</td>
        <td>
          <a [routerLink]="['register']" [queryParams]="{id: stud._id}" class="btn btn-success" style="background-color:white;color:green;"
            *ngIf='this._authService.isAdmin()'>Enroll Courses</a>
          <a [routerLink]="['details']" [queryParams]="{id: stud._id}" class="btn btn-primary pull-right" style="background-color:white;color:blue; ">View Profile</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>